<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer name="magenest_force_customer_firstname"
                  instance="Magenest\Movie\Observer\ForceCustomerFirstname" />
    </event>
</config>
