<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="magenest_custom_address_layout_processor"
                type="Magenest\CustomerMangement\Plugin\Checkout\LayoutProcessorPlugin"/>
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save_vn_region" type="Magenest\CustomerMangement\Plugin\ShippingInformationManagementPlugin"
                sortOrder="10"/>
    </type>
    
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="magenest_transfer_vn_region_to_customer_address" 
                type="Magenest\CustomerMangement\Plugin\Quote\Address\ExportCustomerAddressPlugin" />
    </type>
    
    <type name="Magento\Quote\Api\BillingAddressManagementInterface">
        <plugin name="magenest_save_vn_region_billing" 
                type="Magenest\CustomerMangement\Plugin\BillingAddressManagementPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Customer\Block\Address\Edit">
        <plugin name="magenest_override_address_edit_template"
                type="Magenest\CustomerMangement\Plugin\Block\Customer\Address\EditPlugin" />
    </type>
</config>